<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% include bootstrap.html %}

<script src="{{ '/assets/js/jquery-dateFormat.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/calendar.css' | relative_url }}">

<script src="{{ '/assets/js/site.js' | relative_url }}"></script>
<script src="{{ '/assets/js/moment.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/calendar.js' | relative_url }}"></script>



