<style type="text/css">
@keyframes prominent {
  from {
    color: #006aa4;
  }

  to {
    color: #d40700;
  }
}

#lec-slides-link {
  animation: prominent 500ms infinite alternate;
}
</style>


<table class="asn_table">

<tr>
  <th class="asn_desc" >lecture date</th>
  <th class="asn_num"  >notes</th>
  <th class="asn_ready">ready?</th>
  <th class="asn_desc" >description {% if lect.slides %}&nbsp;(<a href="{{lect.slides|relative_url}}">slides</a>){% endif%}{% if lect.annotatedready %}&nbsp;(<a href="{{lect.annotatedpdfurl|relative_url}}">annotated slides</a>){% endif%}</th>
  <th class="asn_reading" >reading</th>
</tr>

{% for lect in site.lectures %}
 
<tr class={% if lect.ready %}"ready"{% else %}"not-ready"{% endif %} >
  <td class="lect_num" >{{lect.lecture_date}}</td>
  <td class="lect_num" ><a href="{{lect.url | relative_url }}">{{ lect.num }}</a></td>
  <td class="lect_ready">{{lect.ready}}</td>
  <td class="lect_desc" >{{lect.desc }}{% if lect.slides %}&nbsp;(<a href="{{lect.slides|relative_url}}">slides</a>){% endif%}{% if lect.annotatedready %}&nbsp;(<a href="{{lect.annotatedpdfurl|relative_url}}">annotated slides</a>){% endif%}</td>
  <td class="lect_desc" >{{lect.reading }}</td>
</tr>

{% if lect.last_before %}
<tr><th colspan="5">{{lect.last_before}}</th></tr>
{% endif %}

{% endfor %}
</table>
