{% if site.data.navigation.main and site.data.navigation.main.size > 0 %}
  {% if site.data.navigation.production_url %}
    {% assign production_url = site.data.navigation.production_url %}
  {% else %}
    {% assign production_url = site.url %}
  {% endif %}

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
	
     {%- for link in site.data.navigation.main -%}

       {%- if link.url contains '://' -%}
         {%- assign url = link.url -%}
       {%- else -%}
          {%- if link.baseurl == site.baseurl -%}
             {%- assign url = link.url | relative_url -%}
          {%- else -%}
           {%- capture url -%}{{production_url}}{{link.baseurl}}{{link.url}}{%- endcapture -%}
          {%- endif -%}
       {%- endif -%}
          
     <li class="nav-item">
       <a  class="nav-link" href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
     </li>
     {%- endfor -%}
    </ul>
   </div> 
 </nav>
{% else %}
 <!-- default navbar when nothing is defined in _data/navigation.yml -->
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
   <a href="{{ '' | relative_url }}">Home</a>
 </nav>
{% endif %}

