{%- capture dropdown_title -%}{{dropdown.title | default: NO_TITLE}}{%- endcapture -%}
{%- capture dropdown_id -%}navbar-offering-specific-dropdown-{{dropdown_title}}{%- endcapture -%}

<li class="nav-item dropdown {{include.display_class}}" data-term="{{include.data-term}}">
  <a class="nav-link dropdown-toggle" href="#" id="{{dropdown_id}}" data-toggle="dropdown" aria-haspopup="true"
     aria-expanded="false">{{dropdown_title}}</a>
    <div class="dropdown-menu" aria-labelledby="{{dropdown_id}}">
      {%- for link in dropdown.dropdown -%}
         {%- include navbar-offering-specific-link.html class="dropdown-item" -%}
      {%- endfor -%}
    </div>
</li>


